{config_load file="$language/lang_$language.conf" section="checkout_shipping"}

<script type="text/javascript" src="includes/jquery.min.js"></script>
<script type="text/javascript" src="includes/tiramizoo.js"></script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
		<td class="contentsTopics">{#heading_shipping#}</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr>
    <td><strong>{#title_address#}</strong></td>
  </tr>
</table>
{$FORM_ACTION}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border-top: 1px solid; border-color: #cccccc;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">{#text_addressbook#}<br />
            <br />
            {$BUTTON_ADDRESS}</td>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="4">
              <tr> 
                <td align="center" valign="top" class="main"><strong>{#title_address#}</strong><br />
                    <img src="{$tpl_path}img/arrow_south_east.gif" alt="" /></td>
                <td class="boxTextBG" style="border-right: 1px solid; border-color: #cccccc;" align="left">{$ADDRESS_LABEL}</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr>
    <td><strong>{#title_shipping#}</strong></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td style="border-top: 1px solid; border-color: #cccccc;">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td style="border-right: 1px solid; border-color: #cccccc;" valign="top" class="main">{#text_shipping#}<br />
            <br />
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>{$SHIPPING_BLOCK}</td>
              </tr>
            </table> 
          </td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr> 
    <td style="border-top: 1px solid; border-color: #cccccc;">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td valign="top" class="main"><strong>{#title_continue#}</strong><br />
            {#text_continue#}<br /> 
          </td>
          <td style="border-right: 1px solid; border-color: #cccccc;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td align="center" valign="top" class="main"></td>
                <td class="main" align="center">{$BUTON_CONTINUE}</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
{$FORM_END}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
      <tr>
        <td>
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right">
			<table border="0" width="50%" cellspacing="0" cellpadding="0">
              <tr>
                <td class="onepxwidth"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></td>
                <td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
              </tr>
            </table></td>
            
          <td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
          <td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
            <td>
			  <table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
                <td><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="1" alt="" /></td>
              </tr>
            </table></td>
          </tr>
          <tr>            
          <td align="center" class="checkoutBarCurrent">{#text_shipping_info#}</td>            
          <td align="center" class="checkoutBarTo">{#text_payment_info#}</td>            
          <td align="center" class="checkoutBarTo">{#text_confirm#}</td>            
          <td align="center" class="checkoutBarTo">{#text_finished#}</td>
          </tr>
        </table></td>
      </tr>
</table>